<template name="navigation">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{{isRouteActive 'dashboard'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><a href="/">Dashboard</a></li>
                    <li class="{{isRouteActive 'createArticle'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><a href="/createArticle">Create Article</a></li>
                    <li class="{{isRouteActive 'allArticles'}}" data-toggle="collapse" data-target=".navbar-collapse.in"><a href="/allArticles">All Articles</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" data-toggle="collapse" data-target=".navbar-collapse.in">Settings</a></li>
                    <li><a href="/" data-toggle="collapse" data-target=".navbar-collapse.in">Profile</a></li>
                    <li><a href="/" data-toggle="collapse" data-target=".navbar-collapse.in">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>